html {
  scroll-behavior: smooth;
}

label {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
}

.card-container.card {
  max-width: 700px !important;
  padding: 40px 40px !important;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 100px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #e1af0b;
  border-color: #e1af0b;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  color: #111111;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.logo-tile-small {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.Collapsible__trigger {
  color:  #e1af0b;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 10px 0px;
}

.Collapsible__trigger.is-closed::after {
  font-family: Glyphicons Halflings;
  content: " ▼";
}

.Collapsible__trigger.is-open::after {
  font-family: Glyphicons Halflings;
  content: " ▲";
}

.border-panel {
  border-style: double;
  padding: 0px 20px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dark-label {
  color: #212529;
}

.modal-content {
  background-color: get-color(dark, 1) !important;
}

.btn-primary {
  background-color: #e1af0b;
  border-color: #e1af0b;
}

h5, .p-dark {
  color: #212529 !important;
}